.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1D28;
  min-height: 100vh;
}


form{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 20px 10px;
}
form input{
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
  outline-color: rgb(6, 150, 240);
  border: none;
}
.input-box{
  display: flex;
  flex-direction: column;
}
.input-box label{
  color: white;
}

.form-container input[type=submit]{
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 0;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
}

.form-container input[type=submit]:hover{
  background-color: lightslategray;
  cursor: pointer;
}

.form-container input[type=submit]:active{
  scale: 95%;
}
h4{
  color: white;
}

/* if any error in form  */
.input-error{
  border: 2px solid tomato;
  outline-color: tomato;
}

.error-message{
  color: tomato;
  font-size: 12px;
}
